html{
	width: 100%;
	height: 100%;
}
body,div,img,p,a,h2,ul,li{
	padding:0;
	margin:0;
}
body{
	font: normal 100% Simsun "微软雅黑", "宋体", tahoma, arial, sans-serif;
	color: #333;
}
a{
	text-decoration: none;
}
li{
	list-style:none;
}

/* calendar  */
.cal-wrap{
	font-size: 0.24rem;
}
.cal-header{
	position: relative;
	height: 0.80rem;
	line-height: 0.80rem;
	font-size: 0.48rem;
	text-align: center;
}
.cal-premonth-arrow, .cal-nextmonth-arrow{
	display: inline-block;
	width: 0.28rem;
	height: 0.28rem;
	vertical-align: 0.03rem;
}
.cal-premonth-arrow{
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cal-nextmonth-arrow{
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cal-today-ico{
	position: absolute;
	top: 0.20rem;
	right: 0.20rem;
	width: 0.40rem;
	height: 0.40rem;
	font-size: 0.28rem;
	line-height: 0.38rem;
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 100%;
}
.cal-today-ico-active{
	color: #4787d8;
	border-color: #4787d8;
}
/* cal calendar-title */
.cal-day{
	display: table;
	width: 100%;
	padding-bottom: 0.20rem;
	font-size: 0.28rem;
	line-height: 0.48rem;
}
.cal-day span{
	display: table-cell;
	width: 14.28%;
	text-align: center;
}
.cal-oneweek{
	display: table;
	width: 100%;
	padding-bottom: 0.15rem;
	font-size: 0.28rem;
	line-height: 0.48rem;
}
.cal-oneweek > span{
	display: table-cell;
	width: 14.28%;
	text-align: center;
}
.cal-oneweek > span span{
	display: inline-block;
	width: 0.52rem;
	height: 0.52rem;
	line-height: 0.52rem;
}
.cal-weekend{
	color: #ccc;
}
.cal-pre, .cal-next{
	color: #ccc;
}
.cal-today span{
	border: 1px solid #ccc;
	border-radius: 100%;
}
.cal-curdate span{
	background-color: #4787D8;
	border: 1px solid #4787D8;
	border-radius: 100%;
	color: #fff;
}
.cal-tag{
	position: relative;
}
.cal-tag:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -0.15rem;
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 100%;
	font-size: 0.52rem;
	background-color: #ee5430;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
