/**
 * @desc common css
 * @requires 
 * @author jianfeng_huang
 * @date 2016-04-04
 * */
html[data-dpr="2"] .border{
	position: relative;
}
html[data-dpr="2"] .border:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	width: 200%;
	background-color: #ccc;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}
html[data-dpr="2"] .border-t:before{
	top: 0;
}
html[data-dpr="2"] .border-b:before{
	bottom: 0;
}

html[data-dpr="1"] .border-t{
	border-top: 1px solid #ccc;
}
html[data-dpr="1"] .border-b{
	border-bottom: 1px solid #ccc;
}
