*{
  margin: 0;
  padding: 0;
}
body{
  font-family: '微软雅黑', sans-serif;
  font-size: 12px;
  color: #3f3f3f;
}
.outer-box{
  width: 100%;
  color: red;
}
.outer-box a{
  color: black;
  border-radius: 2px;
  transform: scale(0.5,0.5);
}
