/* wrapper */
body{
	width: 100%;
}
.wrapper{
	width: 100%;
	background-color: #fff;
}
.test-wrap{
	width: 100%;
}
.test-wrap > span{
	display: inline-block;
	width: 14%;
	text-align: center;
	font-size: 0.18rem;
}
